<div class="bg-gray-800 backdrop-blur-md h-screen w-full p-6 flex flex-col items-center">
  <h2 class="text-3xl font-extrabold mb-8 text-white text-center">Menú</h2>
  <ul class="w-full space-y-6">
      <li>
          <a class="block p-3 transition-all duration-300 rounded-lg bg-indigo-700 hover:bg-indigo-600 text-white focus:outline-none transform hover:scale-105" routerLink="/page1">
              Página 1
          </a>
      </li>
      <li>
          <a class="block p-3 transition-all duration-300 rounded-lg bg-orange-700 hover:bg-orange-600 text-white focus:outline-none transform hover:scale-105" routerLink="/page2">
              Página 2
          </a>
      </li>
      <li>
          <a class="block p-3 transition-all duration-300 rounded-lg bg-blue-700 hover:bg-blue-600 text-white focus:outline-none transform hover:scale-105" routerLink="/page3">
              Página 3
          </a>
      </li>
  </ul>
</div>
